apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - github.com/ansible/awx-operator/config/default?ref={{ awx_config.version }}
#   additional resources
images:
  - name: quay.io/ansible/awx-operator
    newTag: {{ awx_config.version }}
namespace: awx